body {
  counter-reset: line-counter;
}

.draggable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.proof-input {
  border: none;
}

.proof-line::before {
  counter-increment: line-counter;
  float: left;
  height: 100%;
  width: 10px;
  content: counter(line-counter);
}

.bin {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}

.subproof {
  border: 2px solid black;
}

.proof-view {
  display: grid;
}